html {
  background: #875f16;
}

body {
    color: black;
    background-color: #ffd587;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    max-width: 800px;
    padding: 1em 2em 4em;
    margin: 0 auto;
    line-height: 1.2;
}

a:link,
a:visited {
  text-decoration: none !important;
  color: #875f16 !important;
}
