{% extends 'layout.html' %}
{% block heading %}Search for a player!{% endblock %}
{% block content %}




<form action="{{url_for('search')}}" method="POST">
  {{form.csrf_token}}
  <p>
    Last Name: {{form.last_name}}
    {% if form.last_name.errors %}
    <ul>{% for error in form.last_name.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <hr/>
  <input type="reset" value="Reset"/>
  <input type="submit" value="Submit"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}
