<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Basketball Database</title>
    <meta name="description" content="A database of interesting basketball stats"/>
    <meta name="keywords" content="basketball"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <h1><a href="/">Basketball <br>Database</a></h1>
    <p>Welcome to our Basketball Database! Here you can search for Players who have had games where particular stat totals were achieved. Have fun!</p>
    <hr/>
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    {% block content %}{% endblock %}
  </body>
</html>
